.App {
  text-align: center;
}
.search{
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin: auto;
  border-radius: 999px;
  width: 80%;
  
}
.button{
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
}
.button:hover{
  height: 30px;
  background-color: white;
  color: black;
}
.etablissement{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.search>input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    width: 100%;
}